tensorflow>=2.9.0
tensorflow-hub
tensorflow-addons
tflite-support
opencv-python
pillow
matplotlib
numpy
pandas
rembg
imutils
scikit-image
scipy
seaborn
requests
tqdm
flatbuffers
azure-cognitiveservices-vision-customvision
msrest